/* =================================
  Base Element Styles
==================================== */
* {
	box-sizing: border-box;
}

body {
	line-height: 1.5;
	color: #3a3a3a;
}

span {
	font-size: 1em;
	color: grey;
	text-align: center;

}

p {
	font-size: .95em;
	margin-bottom: 1.8em;

}

h1 {
	text-align: center;

}

h2 {
	color: #093a58;
	text-align: center;
	padding-top: 2%;
	margin-bottom: 2%;
}

h4 {
	word-spacing: 1em;
}

a {
	color: black;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
	font-family: 'Roboto';font-size: .90em;
}


/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.5em;
}

.name a,
.main-nav a {
	text-align: center;
  display: block;
}

.main-nav a {
	font-size: .95em;
	color: #3acec2;
	text-transform: uppercase;
	color: black;
	padding-top: 1%;
}


.bottom-nav {
	float: right;
	padding-bottom: 2%;
}

.bottom-nav li {
	display: inline-block;
	font-weight: bold;
	padding-top: 2em;
	padding-left: 3em;
}



/* ---- Layout Containers ---- */

.main-header {
  padding-top: .95em;
  padding-bottom: .95em;
	width: 100%;
	background-color: #ffa07a;
}

.main {
  text-align: center;

}

.profile-picture {
	display: block;
  margin-left: auto;
  margin-right: auto;
	padding-bottom: 4%;
}

.intro {
	padding-right: 4%;
  padding-left: 4%;
	padding-top: 6%;
}

.portfolio {
	padding-top: 5%;
	padding-bottom: 5%;
}

.contact {
	text-align: center;
}

.closing {
	text-align: center;
	padding-left: 15%;
	padding-right: 15%;
}

.main-footer {
  text-align: center;
	padding-right: 1em;
	padding-left: 1em;
	padding-bottom: 4%;
	border-bottom: 1px solid;
	border-color: silver;
	background: #d9e4ea;
	color: grey;
	padding-top: 2%;
}

.col {
padding-right: 1em;
padding-left: 1em;
}

.u-hide-mobile li {
	font-weight: bold;
	padding: 3px;
	padding-top: 30px;
}

.u-display-inline-block {
	padding-left: 9px;
}



/* ---- Page Elements ---- */
/* =================================
  Media Queries
==================================== */


	.u-hide-mobile li, .u-display-inline-block {
	  display: inline-block;
	}

	.u-float-right {
		float: right;
		clear: both;
	}

  .u-display-mobile {
    display: inline-block;
		padding-top: 1.5em;
		padding-right: .85em;
		font-weight: bold;
  }

  .u-hide-mobile {
    display: none;
	}


@media (min-width: 768px) {

	.u-display-mobile  {
	  display: none;
		font-weight: bold;
	}

	.u-hide-mobile {
		display: inline-block;
		font-weight: bold;
		padding: 3px;
		padding-top: .20em;
		padding-right: .15em;
	}

  .container,
	.main {
    width: 100%;
    margin: 0 auto;
  }

	.contact {
		text-align: center;
	}

  .intro {
    margin-bottom: 10%;
  }

  .profile-picture {
    float: right;
		margin-right: -4%;
		padding-left: 3%;
  }

	.portfolio {
		margin-top: -12%;
		padding-bottom: 5%;
	}

  .col {
    float: left;
    width: 50%;
  }


.main-nav li {
    display: inline-block;
    padding: 1%;
  }

.main-nav {
	text-align: center;
}

}

@media (min-width: 1024px) {
	.main {
    width: 100%;

  }

	.name {
		float: left;
	}

	.main-nav {
		float: right;
		padding: .75em;
		text-align: center;
	}

	.main-nav li {
		display: inline-block;
		padding: 25px;
	}

 	.col {
    width: 33.33%
  }

	.intro {
		padding-left: 3%;
	}

.main-header {
	padding-left: 1em;
	padding-right: 2em;
}


}

	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}
