/* =================================
  Base Element Styles
==================================== */


* {
  box-sizing: border-box;
}

body {
	line-height: 1.6;
	color: #3a3a3a;
}


/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

a {
  color: black;
}

a:link {
  text-decoration: none;
}

p {
  padding-left: 3%;
  padding-right: 3%;
}

.main-nav {
  margin-top: 5px;
}

.name a,
.main-nav a {
	text-align: center;
  display: block;
  padding: 10px 15px
}

.main-nav li{
  text-transform: uppercase;
  font-weight: bold;

}

.header {
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  background-color: ;
}

.title {
  text-align: center;
}

/* ---- Layout Containers ---- */

.container {
  padding-left: em;
  padding-right: em;
  text-align: center;
}



.main-header {
  text-align: center;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
  backgrounnd: #d9e4ea;
	margin-bottom: 0px;
}


.main-footer {
  text-align: center;
	padding: 2em 0;
	background: #d9e4ea;
}


/* ----       Images       ---- */

img {
	max-width: %;
}

.pic {
  width: 85%;
}

.pic-2 {
  width: 85%;
}

/* =================================
 Media Quieries
==================================== */


  @media (min-width: 769px) {

    .wrap {
        min-height: calc(100vh - 89px);
      }

      .main-nav li {
        padding-top: 8%;
        margin-left: 1.2em;
        margin-right: 1.2em;
      }

      .name,
      .main-nav,
      .main-nav li {
        display: inline-block;
        taxt-align: center;
      }
      .name {
        width: 55%;
        margin-right: 1.5em;
        margin-left:  1.5em;
      }


      .header {
        text-align: center;
      }

      .title {
        text-align: center;
      }


      .clearfix::after {
        content: "";
        display: table;
        clear: both;
      }

      .profile-picture {
        margin-top: 2%;
        margin-left: 4%;
        margin-bottom: 2%;
      }

      .profile-picture,
      .sectionb {
        float: right;
      }

      .sectiona {
          float: ;
        }

      .pic {
        width: 80%;
        display: ;
        overflow: ;
      }

      .sectiona,
      .sectionb {
        width: 50%;
        display: inline-block;
      }


  }

  @media (min-width: 1024px) {

  .container {
    width: 90%;
    max-width: 1150px;
    align-content: center;
  }

  .main-nav  {
    display: ;
    float: right;
  }

  .main-nav li {
    margin-left: 15px;
    display: inline-block;
    float: ;
  }


  .name {
    display: ;
    float: left;
    margin-right: 10%;
  }

  .sectioina,
  .sectionb {
  width: 50%;

}



}
